.verticalBeams {
  --opacity: 0.08;
  mix-blend-mode: plus-lighter;
  transform-origin: top;
  background-image: url(./light-beams.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 800px;
  height: 300px;
  position: absolute;
  top: 70px;
  left: 700px;
  transform: rotate(-2deg);
  animation: 1s 0.5s forwards load-in,
    8s ease-in-out 1.5s infinite alternate vertical-beams;
}

@keyframes vertical-beams {
  0% {
    opacity: 0.08;
    transform: rotate(-2deg) scale(1);
  }

  30% {
    opacity: 0.05;
    transform: rotate(-2deg) scaleY(1.1);
  }

  70% {
    opacity: 0.1;
  }

  73% {
    opacity: 0.1;
  }

  80% {
    opacity: 0.08;
    transform: rotate(-2deg) scaleY(1.1);
  }
}

.clouds {
  object-fit: cover;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

.video {
  --opacity: 0.25;
  mix-blend-mode: plus-lighter;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -6%;
  left: -30%;
  transform: rotate3d(0, -1, -1, -12deg) skewX(-4deg) skewY(0);
  animation: 2s ease-in 0.5s forwards load-in;
  -webkit-mask-image: url(./window-mask.svg);
  mask-image: url(./window-mask.svg);
  mask-position: 3% 30%;
  -webkit-mask-size: 104% 52%;
  mask-size: 104% 52%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

@keyframes load-in {
  0% {
    opacity: 0;
  }

  to {
    opacity: var(--opacity);
  }
}

@media (max-width: 450px) and (max-height: 1000px) {
  .video {
    left: -36%;
  }
}

@media (max-width: 500px) and (max-height: 700px) {
  .video {
    left: -36%;
  }
}
