.windowFrame {
  --shadow-offset: 36px;
  --shadow-strength: 30px;
  width: 1800px;
  height: 700px;
  box-shadow: -5px -3px 2px #3d3a3a, 0 5px 2px #262525,
    var(--shadow-offset) var(--shadow-strength) 30px #262525;
  filter: blur(3px);
  transition: height 0.5s ease-in-out, box-shadow 0.2 ease-in-out;
  transform-origin: 50%;
  background: radial-gradient(#3f3636, #525252);
  border-top-left-radius: 120px;
  border-bottom-left-radius: 120px;
  position: absolute;
  top: 10px;
  left: 80px;
}

@media (max-height: 800px) {
  .windowFrame {
    height: 670px;
    top: 36px;
  }
}

.contents {
  width: 100%;
  height: 100%;
  position: relative;
}
