.windowScene {
  --top: 15%;
  --left: 10.6%;
  top: var(--top);
  left: var(--left);
  width: calc(100% - var(--top));
  height: calc(85.5% - var(--left));
  box-shadow: inset -10px calc(0.5 * var(--shadow-strength)) 30px 0px rgba(0, 0, 0, 0.12);
  background: #0c729e;
  border-top-left-radius: 4.2em;
  border-bottom-left-radius: 4.2em;
  position: absolute;
  overflow: hidden;
}

.contents {
  width: 100%;
  height: 100%;
  position: relative;
}
